*/.settings/*
.metadata/*
.idea/*
.DS_Store
bin/*
target/*
.settings/*
doc/*
*.iml
.classpath
.project
lib/*
*/bin/
*/target/
/target/
/.metadata/
riskified-sample/src/main/resources/configs-project/configs.properties
